extends layout

block content
  ul#datalist
    li First Name: #{data.firstname}
    li Last Name: #{data.lastname}
    li E-mail: #{data.email}
    li Location: #{data.location}
    li Sports: #{data.sports}
    li Music: #{data.music}
    li Partying: #{data.partying}
    li Cooking: #{data.cooking}    
    li Gaming: #{data.gaming}

// loop that just shows data without the label (e.g 'Amsterdam' instead of 'Location: Amsterdam'):
//  each item in data
//    h4 #{item}
